.wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 800px;
        grid-template-rows:  repeat(3, 150px) ;
        gap: 10px;
        margin: auto;
        background-color: black;
        margin-top: 50px;
}

.names {
height: 30px;
width: 25px;
color: black;
}


input {
        width: 120px;
}

.intro {
grid-row: 1/4;   
font-size: 15px;     
color: black;
}
div {
        grid-template-columns:  100px 100px 100px;
        grid-template-rows:  100px 100px;
        background-color: white;
        
    }

header {
        font-size: 100px;
        text-align: center;
        color: white;
      
}

body {
        background-color: black;
        
}

.wrapper > div {
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
 
}

main {
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;        
}
.x-filled {
        background: url(../x-symbol_318-1407.webp);
        background-position: center;
}

.y-filled {
        background: url(../images.png);
        background-position: center;
}

.reset {
        border: solid white 1px;
        height: 40px;
        width: 40px;
        margin-top: 10px;
        font-size: 20px;
        color: white;
        background-color: black;
        display: inline-block;
}

.reset > p {
        margin:inherit
}

/* .names {
border: solid black 1px;
height: 150px;
width: 250px;
background-color: white;
font-size: 30px;
color: black;
margin-bottom: 10px;
} */



.box:hover {
        cursor: pointer;
}

.box10 {
        grid-column: 5/6;
        grid-row: 1/4;
        }
        
.pvp {
        color: blue;
        border: solid 1px blue;
        background-color: black;
        font-size: 30px;
        height: 70px;
        width: 70px;
        margin-left: 50px;
        margin-top: 50px;
}

/* .pvp > p {
        margin: auto;
        margin-top: 20px;
}

.pve {
        color: red;
        border: solid 1px red;
        background-color: black;
        font-size: 30px;
        height: 70px;
        width: 70px;
        margin-left: 50px;
        /* margin-top: 50px; */
/* }

.pve > p {
        margin: auto;
        margin-top: 20px;
} */ 