.wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 700px;
        grid-template-rows:  repeat(3, 150px) ;
        gap: 10px;
        margin: auto;
        background-color: black;
        margin-top: 50px;
        
}


div {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px 100px;
        background-color: white;
        
    }

header {
        font-size: 100px;
        text-align: center;
        color: white;
}

body {
        background-color: black;
}

.wrapper > div {
        background-color: white;
        background-repeat: no-repeat;
        background-size: contain;
}

.x-filled {
        background: url(../x-symbol_318-1407.webp);
        background-position: center;
}

.y-filled {
        background: url(../images.png);
        background-position: center;
}

